export USER_KEYS_API_URL="https://example.com/keys"
export AWS_REGION="ap-northeast-1"
export AWS_COGNITO_USER_POOL_ID="ap-northeast-1_AAAAAAAAA"
export AWS_COGNITO_USER_POOL_CLIENT_ID="aaaaaaaaaaaaaaaaaaaaaaaaaa"
