.gis-panel
{
  .editor
  {
    position: relative;
  }

  .props
  {
    position: absolute;
    top: 8px;
    right: 9px;
    max-height: 500px;
    padding: 16px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    h3
    {
      margin: 16px 0 0 0;
    }

    input
    {
      width: 100%;
      font-size: 16px;
      padding: 4px;
      border: none;
      border-bottom: 1px solid #cccccc;
    }

    table
    {
      width: 100%;
    }

    th, td
    {
      padding: 4px;
    }

    th
    {
      text-align: left;;
    }

    .select-menu
    {
      width: 100%;
    }

    .color-picker-container
    {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      z-index: 999999;
    }
  }
}
