#dashboard
{
  .app-title
  {
    font-size: 200%;
    font-weight: bolder;
    margin: 0 0 1em 0;
    padding: 0;
  }

  .chart-container
  {
    width: 90%;
    height: 200px;
    margin: 2em auto 0 auto;
  }

  .grayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
  }

  .container-map-loads,
  .container-geo-api-loads
  {
    color: #ffffff;
    position: relative;

    .module-title
    {
      color: #ffffff;
    }
  }

  .container-map-loads
  {
    background-color: rgba(0, 149, 221, 1);
    border: none !important;
    box-shadow: none !important;
  }

  .container-geo-api-loads
  {
    background-color: rgba(255, 99, 132, 1);
    border: none !important;
    box-shadow: none !important;
  }

  .getting-started
  {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 140%;
    width: 100%;
    background-color: #41C464;
    color: #ffffff;
    margin-bottom: 1em;
    border: none !important;
    box-shadow: none !important;

    .box-icon
    {
      width: 200px;
      max-width: 25%;
      padding-right: 24px;
      box-sizing: border-box;

      img
      {
        width: 100%;
        height: auto;
      }
    }

    .box-content
    {
      h2
      {
        margin: 0;
      }

      ul
      {
        margin: 1em 0 1em 0;
        padding: 0;

        li
        {
          margin-left: 1em;
        }
      }
    }
  }
}
