#dashboard
{
  .app-title
  {
    font-size: 200%;
    font-weight: bolder;
    margin: 0 0 1em 0;
    padding: 0;
  }

  .chart-container
  {
    width: 100%;
    height: 250px;
    margin-top: 2em;
  }

  .container-map-loads,
  .container-geo-api-loads
  {
    color: #ffffff;

    .module-title
    {
      color: #ffffff;
    }
  }

  .container-map-loads
  {
    background-color: rgba(0, 149, 221, 1);
  }

  .container-geo-api-loads
  {
    background-color: rgba(255, 99, 132, 1);
  }
}
